@import '../../node_modules/bootstrap/scss/bootstrap';

@import '../fonts/fonts-baskvil.css';
@import '../fonts/fonts-calibri.css';

body{
  margin: 0;
  padding: 0;
  font-family: 'Conv_Calibri Regular';
}

#wrapper{
  overflow: hidden;
}

.mobile-menu{
  display: none;
  @include media-breakpoint-down(xs){
    display: block;
  }
  .navbar{
    background-color: #fff !important;
    z-index: 9;
  }
}

.section{
  height: auto !important;
}

.buy{
  cursor: pointer;
}

.full-bg-img{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  &::before{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    bottom: 0;
    content: '';
    width: 100%;
  }
}


.loadmore{
  background: #e0a420;
  padding: 20px 0;
  button{
    padding: 10px 30px;
    color: #fff;
    background: rgba(71,141,88,1);
    background: -moz-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,141,88,1)), color-stop(100%, rgba(52,114,67,1)));
    background: -webkit-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
    background: -o-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
    background: -ms-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
    background: linear-gradient(to bottom, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#478d58', endColorstr='#347243', GradientType=0 );
  }
}

.yellow-sidebar{
  background: #e0a420;
  height: 100%;
  position: absolute;
  color: #fff;
  @include media-breakpoint-down(xs) {
    position: inherit;
    height: auto;
  }
  .column{
    padding: 40px 20px;
  }
  h1{
    font-size: 33px;
    line-height: normal;
    @media screen and (min-width: 1900px) {
      font-size: 55px;
    }
    @media screen and (min-width:768px)and(max-width:991px) {
      font-size: 18px;
    }
  }
  h4{
    margin-top: 20px;
    font-size: 18px;
    @media screen and (min-width: 1900px) {
      font-size: 40px;
    }
    @media screen and (min-width:768px)and(max-width:991px) {
      font-size: 14px;
    }
  }
}

#page{
  background: #d7990f;
  padding: 50px;
  color: #fff;
  min-height: 100vh;
}


.scroll-pane{
  height: 150px;
  .jspVerticalBar{
    width: 5px;
    background: transparent;
    .jspTrack{
      background: #447a52;
      .jspDrag{
        background: #f8dc9b;
        border-radius: 10px;
      }
    }
  }
  .jspHorizontalBar{
    display: none;
  }
}

#sticky-sidebar{
  background: #f9f9f9;
  height: 100%;
  @media screen and (max-width:767px){
    display: none;
  }
  .sidebar-column{
    text-align: center;
    padding-top: 20px;
  }
  .menu{
    margin-top: 10vh;
    @media screen and (min-width:1200px)and(max-width:1280px){
      margin-top: 5vh;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Conv_BASKVILL';
        @media screen and (min-width:1200px)and(max-width:1280px) {
          font-size: 18px;
          margin-bottom: 0px;
        }
        @include media-breakpoint-down(md){
          margin-bottom: 15px;
          font-size: 16px;
        }
        a{
          text-decoration: none;
          color: #c7981e;
          
        }
      }
    }
  }
}

#main{
  padding: 0;
  @media screen and (max-width:767px) {
    margin: 0;
  }
}

#footer{
  background: rgba(42, 98, 56, 1);
  padding: 20px 0;
  color: #fff;
}

.list-buy{
  ul{
    margin: 10px 0;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      a{
        img{
          width: 60px;
          margin: 0 3px;
        }
      }
    }
  }
}

#home{
  @include media-breakpoint-down(md){
    padding-top: 12vh;
  }
  .block{
    img{
      @include media-breakpoint-up(md){
        height: 100vh;
        object-fit: cover;
        width: 100%;
      }
      @include media-breakpoint-down(xs) {
        height: 250px;
        width: 100%;
      }
      @media screen and (min-width:768px)and(max-width:991px) {
        height: 400px;
      }
    }
  }
}

.top-slides{
  position: relative;
  z-index: 1;
  .block{
    height: 100%;
    display: flex;
    img{
      @media screen and (min-width:1200px) {
        // height: 100vh;
      }
    }
  }
}


#product{
  background: url(../images/bg-green.jpg) no-repeat left center;
  background-size: cover;
  position: relative;
  padding: 100px 0;
  @include media-breakpoint-down(xs){
    min-height: 100vh;
  }
  .floating-block{
    display: none;
    position: fixed;
    background: #e9e9e9;
    border-radius: 0px 10px 10px 0px;
    top: 5%;
    z-index: 2;
    ul{
      padding: 0;
      margin: 0;
      li{
        background: url(../images/border-list.jpg) no-repeat center bottom;
        padding: 50px;
        list-style: none;
        text-align: center;
        @media screen and (min-width:1200px)and(max-width:1366px){
          padding: 50px 25px;
          background-size: contain;
        }
        &:last-child{
          background: none;
        }
        a{
          display: block;
          img{
            @media screen and (min-width:1200px)and(max-width:1366px){
              width: 100px;
            }
          }
        }
      }
    }
  }
  .botol{
    position: absolute;
    left: 45px;
    top: 12%;
    @media screen and (min-width:1900px){
      left: 150px;
      top: 8%;
    }
    img{
      @media screen and (min-width:1200px)and(max-width:1366px){
        height: 550px;
      }
      @media screen and (min-width:1900px){
        height: 800px;
      }
    }
  }
  .buah{
    position: absolute;
    top: -300px;
    right: -15%;
    @include media-breakpoint-down(md){
      display: none;
    }
  }
  .botol-accordion{
    @include media-breakpoint-down(md){
      margin: 0;
      width: 100%;
      max-width: 100%;
      background: rgba(62, 125, 78, 0.3);
    }
  }
  #accordion{
    padding: 20px 0;
    .card{
      background: none;
      border: none;
      .card-header{
        background-color: transparent;
        border-color: #588864;
        padding-left: 0;
        padding-right: 0;
        button{
          color: #fff;
          text-decoration: none;
          transition: font-size 2s; 
          font-size: 30px;
          border: none;
          display: block;
          width: 100%;
          text-align: left;
          position: relative;
          @include media-breakpoint-down(xs){
            font-size: 20px;
          }
          &.collapsed{
            font-size: 20px;
            i{
              transform: rotate(0deg);
            }
          }
          i{
            position: absolute;
            right: 0;
            top: 10px;
            font-size: 30px;
            transform: rotate(180deg);
          }
        }
      }
      
      .card-body{
        color: #fff;
        p{
          padding: 10px;
        }
      }
    }
  }
}

#free-salad{
  height: 100% !important;
  .free-salad-column{
    position: relative;
    .slider{
      .block{
        img{
          @include media-breakpoint-up(md){
            height: 100vh;
            object-fit: cover;
            width: 100%;
          }
          @include media-breakpoint-down(md){
            object-fit: cover;
            height: 100vh;
            object-position: left;
          }
        }
      }
    }
    .right-float-wrapper{
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 1;
      background: rgba(42, 98, 56, 0.88);
      color: #fff;
      width: 52%;
      display: flex;
      padding: 20px 0;
      border-radius: 10px 0 0 10px;
      @include media-breakpoint-down(xs){
        width: 100%;
        height: 100%;
        top:0;
        align-items: center;
        border-radius: 10px;
      }
      .column{
        .form-wrapper{
          .form-group{
            input{
              background: none;
              border-left:none;
              border-right:none;
              border-top:none;
              padding: 0 5px;
              border-color: #547d56;
              box-shadow: none;
              color: #fff;
              &::placeholder {
                color: #fff;
              }
              &:-ms-input-placeholder{
                color: #fff;
              }
              &::-ms-input-placeholder {
                color: #fff;
              }
            }
          }
          .btn-submit{
            background: #e5aa26;
            color: #004811;
            padding: 5px 40px;
          }
        }
      }
    }
  }
}

#join-challange{
  background: url(../images/banner-bg-img.png) no-repeat center;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  .title{
    color: #044811;
    font-weight: bold;
    @media screen and (min-width:768px)and(max-width:992px){
      font-size: 24px;
      margin-bottom: 50px;
    }
  }
  .block{
    position: relative;
    .img{
      min-height: 400px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      @media screen and (min-width:768px)and(max-width:992px) {
        min-height: auto;
        height:200px;
      }
      img{
        @media screen and (min-width:780px) {
          height: 270px;
        }
      }
    }
    .no{
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #2f6b3e;
      margin: auto;
      left: 0;
      right: 0;
      margin-top: -20px;
      line-height: 30px;
    }
    .text{
      margin-top: 20px;
      p{
        font-size: 15px;
      }
    }
  }
  .btn-wrapper{
    margin-top: 50px;
    button{
      padding: 10px 30px;
      color: #fff;
      background: rgba(71,141,88,1);
      background: -moz-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,141,88,1)), color-stop(100%, rgba(52,114,67,1)));
      background: -webkit-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
      background: -o-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
      background: -ms-linear-gradient(top, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
      background: linear-gradient(to bottom, rgba(71,141,88,1) 0%, rgba(52,114,67,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#478d58', endColorstr='#347243', GradientType=0 );
    }
  }
  .terms{
    display: inline-block;
    margin: 20px 0;
    color: #266235;
  }
}

.gallery-column{
  .block{
    cursor: pointer;
    position: relative;
    &:hover{
      .username{
        display: none;
      }
    }
    .username{
      display: flex;
      color: #fff;
      background: rgba(0, 0, 0, 0.6);
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      @include media-breakpoint-down(xs){
        font-size: 30px;
      }
    }
  }
}

#recipe{
  position: relative;
  .recipe-wrapper{
    padding: 0;
    height: 100%;
    @include media-breakpoint-down(xs){
      margin: 0;
    }
    .column{
      .block{
        cursor: pointer;
        position: relative;
        &:hover{
          .txt-bottom{
            background: rgba(0, 0, 0, 0.3);
          }
        }
        .txt-bottom{
          position: absolute;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          color: #f3f2f2;
          display: flex;
          align-items: flex-end;
          .row{
            width: 100%;
            padding: 15px;
            .arrow{
              i{
                border: 1px solid;
                width: 20px;
                height: 20px;
                border-radius: 50%;
              }
            }
          }
        }
      }
      .detail-recipe{
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        .title{
          top:0;
          color: #fff;
          font-size: 60px;
          line-height: normal;
          padding: 20px;
        }
        .detail{
          padding: 50px 20px 20px;
          color: #2f6b3e;
          font-size: 14px;
          .close{
            right: 20px;
            border: 1px solid;
            width:20px;
            height: 20px;
            border-radius: 50%;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
          }
          .column-txt{
            .txt{
              color: #e0a41f;
            }
            .list{
              h3{
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

#right-content{
  padding: 0;
  @include media-breakpoint-down(xs){
    margin: 0;
  }
}